
// Fonts
@import "node_modules/raleway-webfont/raleway";

// Font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap-select
@import "node_modules/bootstrap-select/sass/bootstrap-select";

// Media queries
@import "media";

.navbar-brand {
    background-image: url("/pictures/logo.gif");
    background-repeat: no-repeat;
    display: block;
    height: 65px;
    width: 221px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px !important;
}

.navbar-right {
    margin-top: 16px;
}

.popover.right {
    text-align: inherit !important;
}

.btn-large {
    border-radius: 5px;
    color: $brand-primary;
    font-weight: bold;
    display: inline-block;
    line-height: 1.6;
    margin-right: 20px;
    margin-top: 20px;
    outline: 0 none !important;
    padding: 15px;
    text-align: center;
}

.btn-large:hover {
    color: darken($brand-primary, 20%);
    transition: color 250ms linear 0s;
    text-decoration: none !important;
}

.add-shadow {
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.45) !important;
    outline: 0 none !important;
}

.full-width {
    width: 100% !important;
}

.half-width {
    width: 50% !important;
}

.square {
    width: 20%;
    height: 12vw;
    min-width: 130px;
    min-height: 130px;
}

.relative {
    position: relative;
}

.centered {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fa.fa-large {
    font-size: 9em;
}

#header-table {
  width: 100%;
}

.line-break {
  margin-top: 2em;
}

.line-break.half {
  margin-top: 1em;
}

.line-break.double {
  margin-top: 4em;
}

.right {
  text-align: right;
}

.section-header {
  text-align: center;
  font-weight: bold;
}

td.border {
  border-bottom: 1px solid black !important;
}

td.result {
  border-top: 3px double black !important;
}

td.platform {
  min-width: 20%;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: none;
}
